.resources__logo {
  width: 270px;
  height: 38px;
  text-align: center;
  list-style-type: none;
  transition: transform 0.4s ease-out;
}

.resources__logo:hover {
  transform: translate(0, 5px);

}
