.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', 'Arial', sans-serif;
}

/*---Стили для блока header---*/
.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  position: relative;
  display: flex;
  align-items: center;
  background-color: #f2f2f2;
}

.logo {
  width: 183px;
  height: 32px;
}

.header__title {
  width: 730px;
  z-index: 2;
  margin-left: 64px;
}

.header__subtitle {
  margin: 0;
  width: 388px;
  z-index: 2;
}

.header__link {
  text-decoration: none;
  color: #2f80ed;
}

.header__main-illustration {
  position: absolute;
  right: 0;
  bottom: 0;
  z-index: 2;
}

.header__square-pic {
  height: 568px;
  width: 568px;
  background-color: #2f80ed;
  position: absolute;
  top: 64px;
  right: 0;
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  background-image: url("../images/logo_place_header.svg");
  z-index: 2;
}

.header__title_text {
  font-size: 102px;
  line-height: 96px;
  font-weight: bold;
}

.header__subtitle_text {
  position: absolute;
  left: 64px;
  bottom: 30px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
}

.header__main-illustration_img {
  height: 608px;
  width: 765px;
}

/*---Стили для секции description---*/
.description {
  margin-top: 100px;
}

.two-columns {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 80%;
}

.two-columns__brief {
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__main-text {
  width: 80%;
}

.two-columns__paragraph {
  margin: 0;
  padding-bottom: 30px;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child{
  padding-bottom: 0;
}

.two-columns__span-accent {
  font-weight: bold;
}

/*---Стили для секции digits---*/
.digits {
  margin-top: 100px;
  margin-bottom: 100px;
}

.section-title {
  margin: 0 auto;
  width: 60%;
  padding-bottom: 20px;
}

.section-subtitle {
  margin: 0 auto;
  width: 60%;
}

.table {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 1110px;
}

.table__cell {
  padding-top: 60px;
  list-style: none;
  margin: 0;
  width: 250px;
}

.table__cell:last-child {
  padding-bottom: 0;
}

.table__heading {
  margin: 0;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text {
  margin: 0;
  padding-bottom: 20px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.section-title_light {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
}

.section-subtitle_light {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
}

/*---Стили для секции feynman---*/
.feynman {
  height: 890px;
  background-color: #f2f2f2;
  background-image: url("../images/feynman.png");
  background-repeat: no-repeat;
  background-position: left bottom;
  position: relative;
}

.feynman__title {
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 70px;
  width: 648px;
}

.feynman__subtitle {
  margin: 0 auto;
}

.feynman__link {
  text-decoration: none;
  color: #2f80ed;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__title_text {
  line-height: 1.15;
  font-size: 120px;
  font-weight: bold;
  text-align: center;
}

.feynman__subtitle_text {
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  text-align: center;
}

.feynman__link_text {
  position: absolute;
  top: 50%;
  right: 48px;
}

/*---Стили для секции kaufman---*/
.kaufman {
  background-color: #1f1f1f;
  padding-bottom: 90px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.section-title_dark {
  line-height: 1.15;
  font-size: 60px;
  font-weight: bold;
  text-align: center;
  color: white;
}

.section-subtitle_dark {
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  color: white;
}

.table_theme_dark {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  width: 1110px;
}

.table__triangle {
  position: absolute;
  width: 877px;
  height: 877px;
  top: 0;
  right: -210px;
  z-index: -1;
}

.section-title_theme_dark {
  margin: 0 auto;
  width: 60%;
  padding-top: 90px;
  padding-bottom: 20px;
}

.section-subtitle_theme_dark {
  margin: 0 auto;
  width: 60%;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
  list-style: none;
}

.table__heading_theme_dark {
  margin: 0;
  padding-bottom: 20px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: bold;
}

.table__text_theme_dark {
  margin: 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

/*---Стили для секции footer---*/
.footer {
  background-color: #1f1f1f;
}

.footer__columns {
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 40px;
  display: flex;
  justify-content: space-between;
  width: 90%;
  min-height: 350px;
}

.footer__column-link {
  display: block;
}

.footer__author {
  margin-top: 18px;
  margin-bottom: 18px;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__column-links {
  margin-top: 20px;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
}

.footer__column-link {
  text-decoration: none;
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__social-icon {
  width: 16px;
  height: 16px;
  margin-right: 10px;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
